@import "tailwindcss";

:root {
  --background-100: 199, 28%, 9%;
  --background-200: 200, 4%, 15%;
  --background-300: 200, 2.5%, 23.7%;
  --background-400: 240, 1%, 20.2%;
  --background-500: 223, 5%, 71%;
  --background-600: 0, 0%, 88%;

  /* Glimmer animation config */
  --glimmer-stagger-time: 200ms;
  --glimmer-animation-direction: alternate;
  --glimmer-animation-duration: 1000ms;
  --glimmer-animation-timing-function: steps(10, end);
  --glimmer-opacity-min: 0.25;
  --glimmer-opacity-max: 1;
  --glimmer-base-opaque: #fff;
  --glimmer-high-contrast-base-opaque: #fff;
  --glimmer-opacity-max: 0.58;
  --glimmer-opacity-min: 0.15;
  --glimmer-opacity-high-contrast-max: 0.48;
  --glimmer-opacity-high-contrast-min: 0.1;
  --web-wash: #1c1c1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-xxs: 480px;
  --breakpoint-xs: 600px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background-100: hsl(var(--background-100));
  --color-background-200: hsl(var(--background-200));
  --color-background-300: hsl(var(--background-300));
  --color-background-400: hsl(var(--background-400));
  --color-background-500: hsl(var(--background-500));
  --color-background-600: hsl(var(--background-600));

  --animate-glimmer: glimmer var(--glimmer-animation-duration)
    var(--glimmer-animation-timing-function) var(--animationDelay, 0ms) infinite;

  @keyframes glimmer {
    0% {
      opacity: var(--glimmer-opacity-min);
    }
    100% {
      opacity: var(--glimmer-opacity-max);
    }
  }
}
